<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/cards.css">
    <title>Cards</title>
</head>
<body>
    <div class="card">
        <a href="../views/Actividades/crearActividad.html">
            <div class="cardImage"></div>
            <div class="cardContent">
                <h3>Titulo Card</h3>
                <p>Subtítulo Card</p>
            </div>
        </a>
    </div>
</body>
</html>