<div class="sombra" id="sombra"></div>
<nav class="sidebar" id="sidebar">
    <div class="logo-menu">
        <div class="menu" id="menuAbierto">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div class="logo">
            <img src="/img/logoHorizontalBlanco.png" alt="Logo Universidad del Rosario">
        </div>
    </div> 
    <ul class="menu-items">
        <li class="mainoption" id="logout"><a href="/logout">Logout</a></li>
    </ul>        
</nav>