<%- include('components/header.ejs') -%>
<%- include('components/menuNavegacion.ejs') -%>
    <div class="contenidoPrincipal">
        <div class="elementosCentrados">
            <h1 class="tituloSeccion">¡Bienvenido/a de nuevo!</h1>
            <div class="button-container">
                <a href="/usuarios" class="buttonIndex">Usuarios</a>
                <a href="/grupos" class="buttonIndex">Grupos</a>
                <a href="/actividades" class="buttonIndex">Actividades</a>
            </div>
        </div>
    </div>
<%- include('components/footer.ejs') -%>