<!DOCTYPE html>
<html lang="en">
<%- include('../components/header.ejs', { title: 'UR Deporte y Cultura | Iniciar Sesi칩n', autenticado: false }) -%>
<body>
    <div class="main">
        <div class="container">
            <div class="login">
                <img src="/img/logo_vertical.png" alt="">
                <form action="/login" method="post">
                    <div>
                        <% if (typeof error != 'undefined') { %>
                            <div class="error-message">Usuario o Contrase침a invalido</div>
                        <% } %>
                    </div>
                    <div class="form-group">
                        <label for="correo"></label>
                        <input type="email" id="correo" name="correo" placeholder="Correo Institucional" required>
                    </div>
                    <div class="form-group">
                        <label for="password"></label>
                        <input type="password" id="password" name="password" placeholder="Contrase침a" required>
                    </div>
                    <br><br>
                    <button type="submit">Iniciar Sesi칩n</button>
                    <br><br>
                    <a href="/recuperarCuenta">Recuperar Cuenta</a>
                </form>
            </div>
        </div>
    </div>
<%- include('../components/footer.ejs') -%>