<%- include('../components/header.ejs', { title: 'UR Deporte y Cultura | Recuperar Cuenta', autenticado: false }) -%>
<link rel="stylesheet" href="/css/iniciarSesion.css">
    <div class="main">
        <div class="container">
            <div class="login">
                <img src="/img/logo_vertical.png" alt="">
                <form>
                    <div>
                        
                    </div>
                    <div class="form-group">
                        <label for="username"></label>
                        <input type="text" id="username" name="username"
                        placeholder="Correo Institucional">
                    </div>
                    <br><br>
                    <div id="recuperarCuenta">
                        <input type="submit" class="formButton" id="formButtonAzul" value="Recuperar Cuenta">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
             document.getElementById('formButtonAzul').addEventListener('click', function(event) {
                 event.preventDefault(); // Prevent the default reset behavior
                 window.location.href = '/'; // Redirect to another page
             });
         });
     </script>
<%- include('../components/footer.ejs') -%>